<a href="https://colab.research.google.com/github/arhammehdi2/RetailSalesAnalysis/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:

*   List popular languages in Data Science
*   List popular libraries in Data Science
*   Evaluate arithmetic expressions in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1.   Python
2.   R
3.   SQL

Some of the commonly used libraries used by Data Scientists include:

1.   Pandas
2.   MatPlotLib
3.   NumPy

In [2]:
from IPython.display import HTML

table_content = """
<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Tool 1</td>
  </tr>
  <tr>
    <td>Tool 2</td>
  </tr>
  <tr>
    <td>Tool 3</td>
  </tr>
</table>
"""

display(HTML(table_content))

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to multiply 3 by 4 and then add 5.
result = (3 * 4) + 5
result

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Arham